<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta ad="görüntümerceği" content="width=device-width, initial-scale=1.0">
  <title>CATS</title>
</head>

<body>
  <h1>ALL THE CATS</h1>
  <ul>
    <% for (let cat of cats) { %>
      <li>
        <%= cat %>
      </li>
      <% } %>
  </ul>

</body>

</html>